<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="happy customer" />
      <span class="icon-container icon-container-accent icon--white">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
        perspiciatis a eum sapiente! Nulla facilis ad, at modi, nisi inventore,
        optio voluptatem possimus incidunt rem quo natus quaerat aspernatur
        ratione. Magnam alias doloremque sapiente quia! Nobis, magnam ratione.
        Iusto asperiores, odit dignissimos saepe iste aperiam veniam modi, quos,
        eligendi suscipit rem optio illum? Ullam eum nostrum praesentium
        voluptatibus nemo iste voluptate! Incidunt commodi maiores aliquam
        sequi? Minima maiores aut ab.
      </p>
      <footer class="quote__footer">
        <div class="media">
          <div class="media__image">
            <svg class="icon quote-line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote-author">Guillaume Caussarieu</h3>
            <p class="quote-company">Digital Computation SarL</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
